## Fidelity Stock Overview

In [141]:
# pip install yfinance
# pip install pandas --upgrade
import yfinance as yf
import pandas as pd

In [19]:
fxaix = yf.Ticker('FXAIX')

# get historical market data
hist_data = fxaix.history(period='max')

In [20]:
hist_data.head(20)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2011-05-04 00:00:00-04:00,36.624325,36.624325,36.624325,36.624325,0,0.0,0.0,0.0
2011-05-05 00:00:00-04:00,36.294434,36.294434,36.294434,36.294434,0,0.0,0.0,0.0
2011-05-06 00:00:00-04:00,36.440193,36.440193,36.440193,36.440193,0,0.0,0.0,0.0
2011-05-09 00:00:00-04:00,36.601299,36.601299,36.601299,36.601299,0,0.0,0.0,0.0
2011-05-10 00:00:00-04:00,36.900497,36.900497,36.900497,36.900497,0,0.0,0.0,0.0
2011-05-11 00:00:00-04:00,36.509247,36.509247,36.509247,36.509247,0,0.0,0.0,0.0
2011-05-12 00:00:00-04:00,36.693367,36.693367,36.693367,36.693367,0,0.0,0.0,0.0
2011-05-13 00:00:00-04:00,36.394165,36.394165,36.394165,36.394165,0,0.0,0.0,0.0
2011-05-16 00:00:00-04:00,36.171677,36.171677,36.171677,36.171677,0,0.0,0.0,0.0
2011-05-17 00:00:00-04:00,36.171677,36.171677,36.171677,36.171677,0,0.0,0.0,0.0
2011-05-18 00:00:00-04:00,36.493919,36.493919,36.493919,36.493919,0,0.0,0.0,0.0
2011-05-19 00:00:00-04:00,36.578289,36.578289,36.578289,36.578289,0,0.0,0.0,0.0
2011-05-20 00:00:00-04:00,36.294434,36.294434,36.294434,36.294434,0,0.0,0.0,0.0
2011-05-23 00:00:00-04:00,35.864826,35.864826,35.864826,35.864826,0,0.0,0.0,0.0
2011-05-24 00:00:00-04:00,35.834133,35.834133,35.834133,35.834133,0,0.0,0.0,0.0
2011-05-25 00:00:00-04:00,35.949219,35.949219,35.949219,35.949219,0,0.0,0.0,0.0
2011-05-26 00:00:00-04:00,36.102657,36.102657,36.102657,36.102657,0,0.0,0.0,0.0
2011-05-27 00:00:00-04:00,36.256073,36.256073,36.256073,36.256073,0,0.0,0.0,0.0
2011-05-31 00:00:00-04:00,36.639660,36.639660,36.639660,36.639660,0,0.0,0.0,0.0
2011-06-01 00:00:00-04:00,35.811131,35.811131,35.811131,35.811131,0,0.0,0.0,0.0

In [12]:
yearly_investment = 7000

In [192]:
data = hist_data[(hist_data.index.month == 1)]
#data.index = pd.to_datetime(data.index)

In [193]:
data

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2012-01-03 00:00:00-05:00,35.063076,35.063076,35.063076,35.063076,0,0.0,0.0,0.0
2012-01-04 00:00:00-05:00,35.070839,35.070839,35.070839,35.070839,0,0.0,0.0,0.0
2012-01-05 00:00:00-05:00,35.179459,35.179459,35.179459,35.179459,0,0.0,0.0,0.0
2012-01-06 00:00:00-05:00,35.101871,35.101871,35.101871,35.101871,0,0.0,0.0,0.0
2012-01-09 00:00:00-05:00,35.179459,35.179459,35.179459,35.179459,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
2024-01-25 00:00:00-05:00,169.405777,169.405777,169.405777,169.405777,0,0.0,0.0,0.0
2024-01-26 00:00:00-05:00,169.296127,169.296127,169.296127,169.296127,0,0.0,0.0,0.0
2024-01-29 00:00:00-05:00,170.582138,170.582138,170.582138,170.582138,0,0.0,0.0,0.0
2024-01-30 00:00:00-05:00,170.492432,170.492432,170.492432,170.492432,0,0.0,0.0,0.0
2024-01-31 00:00:00-05:00,167.750916,167.750916,167.750916,167.750916,0,0.0,0.0,0.0

In [125]:
lst = []
year = 2010
for i, row in data.iterrows():
    if i.year != year:
        lst.append(i.strftime("%Y-%m-%d"))
        year = i.year

In [172]:
year_data = data.loc[lst, :]

In [173]:
year_data['Shares_owned'] = yearly_investment / year_data.Close

In [174]:
year_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains,Shares_owned
Date,,,,,,,,,
2012-01-03 00:00:00-05:00,35.063076,35.063076,35.063076,35.063076,0,0.0,0.0,0.0,199.640214
2013-01-02 00:00:00-05:00,41.066242,41.066242,41.066242,41.066242,0,0.0,0.0,0.0,170.456307
2014-01-02 00:00:00-05:00,52.548161,52.548161,52.548161,52.548161,0,0.0,0.0,0.0,133.211133
2015-01-02 00:00:00-05:00,60.243984,60.243984,60.243984,60.243984,0,0.0,0.0,0.0,116.194174
2016-01-04 00:00:00-05:00,60.165333,60.165333,60.165333,60.165333,0,0.0,0.0,0.0,116.346070
2017-01-03 00:00:00-05:00,68.974335,68.974335,68.974335,68.974335,0,0.0,0.0,0.0,101.487025
2018-01-02 00:00:00-05:00,84.017799,84.017799,84.017799,84.017799,0,0.0,0.0,0.0,83.315679
2019-01-02 00:00:00-05:00,79.731964,79.731964,79.731964,79.731964,0,0.0,0.0,0.0,87.794150
2020-01-02 00:00:00-05:00,105.599556,105.599556,105.599556,105.599556,0,0.0,0.0,0.0,66.288158
2021-01-04 00:00:00-05:00,122.167877,122.167877,122.167877,122.167877,0,0.0,0.0,0.0,57.298204
2022-01-03 00:00:00-05:00,160.592972,160.592972,160.592972,160.592972,0,0.0,0.0,0.0,43.588458
2023-01-03 00:00:00-05:00,130.114914,130.114914,130.114914,130.114914,0,0.0,0.0,0.0,53.798598
2024-01-02 00:00:00-05:00,164.052353,164.052353,164.052353,164.052353,0,0.0,0.0,0.0,42.669306

In [181]:
todays_price = hist_data.tail(1)
todays_price['Close']

Date
2024-07-25 00:00:00-04:00    187.580002
Name: Close, dtype: float64

In [184]:
total_shares = sum(year_data.Shares_owned) 
total_shares

1272.0874753284381

In [185]:
invested_amount = yearly_investment * len(year_data)
invested_amount

91000

In [189]:
stock_total_value = total_shares * todays_price
stock_total_value.loc[:,'Close']

Date
2024-07-25 00:00:00-04:00    238618.170951
Name: Close, dtype: float64

In [191]:
total_gains = stock_total_value - invested_amount
total_gains.loc[:,'Close']

Date
2024-07-25 00:00:00-04:00    147618.170951
Name: Close, dtype: float64